@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=IBM+Plex+Sans:wght@700&family=Roboto:wght@900&family=Syne+Mono&display=swap');
body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'IBM Plex Sans', sans-serif;

}
a {
    text-decoration: none;
    color: black;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
body h1 {
  text-align: center;
  font-size: 65px;
  padding: 50px;
  color: white;
  text-transform: uppercase;
}

#title_dynamic_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;

}
#projets-Section h2 , #icon-Section h2  {
  padding: 110px;
}
#description h2 
{
padding: 110px 110px 0px 110px;
}

#description > p , #projets-Section > p , #contact-Section > p {
padding: 5% 8% 12% 8%;
text-align: center;
  font-size: 23px;
  font-weight: bold;
  color: black;
}

.dynamic_text h1 {
  position: relative;
}

.dynamic_text h1::before,
.dynamic_text h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dynamic_text h1::before {
  background: black;
  animation: typing 2s steps(13) forwards 2s;
}

.dynamic_text h1::after {
  background: white;
  width: 0.125em;
  animation: typing 2s steps(13) forwards 2s, blinking 750ms steps(13) infinite;
}

@keyframes typing {
  to {
      left: 100%;
  }
}

@keyframes blinking {
  to {
      background: black;
  }
}

body p {
  padding: 0 50px;
  font-size: 18px;
  line-height: 2em;
}

body .parallax {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: white;
  letter-spacing: 25px;
}

body .parallax h2 {
  background: #f5f5f566;
  padding-left: 20px;
  white-space: break-spaces;
  text-align: center;
  font-size: 72px;
  
}

body .firstPara {
  background-image: url("../includes/images/background/xK.gif");
}

body .secondPara {
  background-image: url('../includes/images/background/3YDc.gif');
}

body .thirdPara {
  background-image: url('../includes/images/background/AcU9.gif');
}

body .forthPara {
  background-image: url('../includes/images/parallax/');
}  

/* SECTIONS  SECTIONS  SECTIONS  SECTIONS  SECTIONS  SECTIONS  SECTIONS  SECTIONS  SECTIONS  SECTIONS  */




#icon-Section { background: white;
  margin: 0;
  padding: 32px 8px 18px 8px;
  font-size: 39px;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;}

  #icon-Section > p {
    padding: 8% 8% 12% 8%;
    text-align: center;
      font-size: 23px;
      font-weight: bold;
      color: black;

  }
  #contact-Section
  {
    background: white;
    margin: 0;
    padding: 18%;
    font-size: 39px;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
}

#projets-Section , #description  {
    background: white;
    margin: 0;
    padding: 33px 33px 33px 33px;
    font-size: 39px;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
}

/* SCROLL-ANIMATION  SCROLL-ANIMATION  SCROLL-ANIMATION  SCROLL-ANIMATION  SCROLL-ANIMATION  SCROLL-ANIMATION  SCROLL-ANIMATION  SCROLL-ANIMATION  SCROLL-ANIMATION  SCROLL-ANIMATION  */

.scroll-downs {
    text-align: -webkit-center;
    padding-bottom: 10%;
    animation: scrolling 10s ease  1 normal forwards;
  }
  @keyframes scrolling {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
   
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }



/* COMPETENCES  COMPETENCES  COMPETENCES  COMPETENCES  COMPETENCES  COMPETENCES  COMPETENCES  COMPETENCES  COMPETENCES  COMPETENCES  */

.box
{
  background:#fff;
  width: 266px;
  height: 300px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  box-shadow:0 30px 60px rgba(0,0,0,.4);
  transition: transform .2s;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.box:hover
{
 transform:scale(1.2);
 border-radius: 70%;
}
.box .percent
{
  width:150px;
  height:150px;
  position:relative;
}
.box .percent svg
{
  width:150px;
  height:150px;
  position:relative;
}
.box .percent svg circle
{
  width:150px;
  height:150px;
  fill:none;
  stroke-width:10;
  stroke:#000;
  transform:translate(5px,5px);
  stroke-dasharray:440;
  stroke-dashoffset:440;
  stroke-linecap:round;
}
.box .percent svg circle:nth-child(1)
{
  stroke-dashoffset:0;
  stroke:#f3f3f3;
}
#html{stroke: rgb(247, 193, 15);
    stroke-dashoffset:calc(440 - (440 * 90) / 100);
}
#css{stroke: #248edf;
    stroke-dashoffset:calc(440 - (440 * 85) / 100);
}
#js{stroke: #f0f335;
    stroke-dashoffset:calc(440 - (440 * 75) / 100);
}
#php{stroke: rgb(100, 107, 206);
    stroke-dashoffset:calc(440 - (440 * 45) / 100);
}
#sql{stroke: pink;
  stroke-dashoffset:calc(440 - (440 * 90) / 100);
}
#njs{stroke: rgb(2, 1, 1) ;
    stroke-dashoffset:calc(440 - (440 * 90) / 100);
}
#mdb{stroke: #239429;
    stroke-dashoffset:calc(440 - (440 * 90) / 100);
}

.box .percent svg circle:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 90) / 100);
  stroke:#03a9f4;
}
.box .percent .logo
{
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  color:#111;
}
.box .percent
{
  font-size:48px;
}
.box .percent
{
  font-size:24px;
}
.box .text
{
  padding: 10px 0 0;
  color:#999;
  font-weight:700;
  letter-spacing:1px;
}

#competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../includes/images/background/5GpD.gif") !important;
  }

.subcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#competences img {
    width: 50%;
}

i {
    font-size: 5rem;
}
#all {
    margin-bottom: 10%;
    margin-top: 54px;
}

.card {
    height: 36rem;
    margin-bottom: 21em;
}

.card li {
    font-size: 20px;
    list-style: none;
}



/* PROJETS  PROJETS  PROJETS  PROJETS  PROJETS  PROJETS  PROJETS  PROJETS  PROJETS  PROJETS  */

#projets {
    margin: 50px;
    display: grid;
    grid-template-columns: 1FR 1FR 1FR;
  }
 
  #projets .projets-item{
    display: grid;
    grid-template-rows: 4em 1FR;
    justify-content: center;
  }
  #projets .projets-item .nameprojets{
    position: relative;
    top: 29px;
  
  }#projets .projets-item .nameprojets h3{
      position: absolute;
      left: 0;
      bottom: 16px;
      z-index: 10;
      right: 10px;
      font-size: 24px;
    }.projets-imgANDp{
      width: 282px;
      height: 419px;
    
    }#projets .projets-item img{
      width: 100%;
      border: 15px solid black;
      box-shadow:0 30px 60px rgba(0,0,0,.4);
      transition: all 0.7s ease-in-out;
    }#projets .projets-item p{
      text-align: center;
      color: black;
      background: white;
      padding: 5px;
    }
    .projets-item:hover
    {
      transform: scale(1.1);
      transition: 0.7s;
    }

/* GHOST  GHOST  GHOST  GHOST  GHOST  GHOST  GHOST  GHOST  GHOST  GHOST  */

    .ghost {
      width: 8vmin;
      height: 12vmin;
      background-color: #e7e6e6;
      background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
        radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
        radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
      border-radius: 100% / 70% 70% 0% 0%;
      transform: translateX(100em) rotateZ(-90deg);
      opacity: 0.9;
      animation: ghostMove 4s ease-out infinite;
    }
    @keyframes ghostMove {
      0% {
        transform: translateX(30em) rotateZ(-90deg);
      }
      100% {
        transform: translateX(-25em) rotateZ(-90deg);
      }
    }
    .container {
      padding: 18%;
      height: 100%;
      display: grid;
      place-items: center;
      overflow: hidden;
    }
    
    .title {
      position: absolute;
    }
    .title h2 {
      font-size: 25vmin;
      font-weight: 900;
      font-family: "Montserrat", sans-serif;
      color: black;
    }

/* FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  */

 
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }